In [10]:
import pandas as pd
import numpy as np

In [107]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

In [210]:
titanic = pd.read_csv('train.csv')

In [211]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [125]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [212]:
df = titanic.drop(['Name', 'Ticket', 'Cabin'], axis=1).dropna()

In [213]:
sex_conv = lambda x : 1 if x=='male' else 0 
df['Is_male'] = df['Sex'].apply(sex_conv)

In [214]:
age_conv = lambda x : 1 if x<=7 else (2 if x<18 else (3 if x<30 else (4 if x<45 else (4 if x>=45 else 5))))  
df['Age_Group'] = df['Age'].apply(age_conv)

In [235]:
embarked_new = pd.get_dummies(df['Embarked'])
train = pd.concat([df[['PassengerId','Survived','Pclass','Sex', 
                       'Age', 'SibSp', 'Parch', 'Fare','Embarked','Is_male','Age_Group']], embarked_new], axis=1)

In [236]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Is_male,Age_Group,C,Q,S
0,1,0,3,male,22.0,1,0,7.2500,S,1,3,0,0,1
1,2,1,1,female,38.0,1,0,71.2833,C,0,4,1,0,0
2,3,1,3,female,26.0,0,0,7.9250,S,0,3,0,0,1
3,4,1,1,female,35.0,1,0,53.1000,S,0,4,0,0,1
4,5,0,3,male,35.0,0,0,8.0500,S,1,4,0,0,1

In [217]:
train = train.drop(['Sex', 'Embarked', 'Age'], axis=1)

In [132]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Is_male        712 non-null int64
Age_Group      712 non-null int64
C              712 non-null uint8
Q              712 non-null uint8
S              712 non-null uint8
dtypes: float64(2), int64(7), uint8(3)
memory usage: 57.7 KB

In [218]:
X = train.drop('Survived', axis=1).values
y = train['Survived'].values

In [219]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [220]:
#pipe = Pipeline([('scaler', StandardScaler()), ('logreg', LogisticRegression())])
pipe = Pipeline([('scaler', StandardScaler()), ('svc', SVC())])
#pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_neighbors=5))])
pipe.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('svc', SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))])

In [221]:
pipe.score(X_test, y_test)

0.825531914893617

In [222]:
y_pred = pipe.predict(X_test)
data = {'PassengerId': X_test[:,0], 'Survived': y_pred}
df_predict['PassengerId'] = df_predict['PassengerId'].astype('int64')
df_predict = pd.DataFrame(data)
df_predict.to_csv('predictions.csv', index=False)

In [243]:
def titanic_test(Test_df):
    df = Test_df.drop(['Name', 'Ticket', 'Cabin'], axis=1)
    
    sex_conv = lambda x : 1 if x=='male' else 0 
    df['Is_male'] = df['Sex'].apply(sex_conv)
    
    age_conv = lambda x : 1 if x<=7 else (2 if x<18 else (3 if x<30 else (4 if x<45 else (4 if x>=45 else 5))))
    df['Age_Group'] = df['Age'].apply(age_conv)

    embarked_new = pd.get_dummies(df['Embarked'])
    data_df = pd.concat([df[['PassengerId','Pclass','Sex', 
                       'Age', 'SibSp', 'Parch', 'Fare','Embarked','Is_male','Age_Group']], embarked_new], axis=1)
    
    X_new = data_df.drop(['Sex', 'Embarked', 'Age'], axis=1).values
    return X_new

In [263]:
test_df = pd.read_csv('test.csv')

In [265]:
test_df['Fare']= test_df['Fare'].fillna(12)

In [266]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [267]:
X_test_comp = titanic_test(test_df)

In [281]:
y_pred_comp = pipe.predict(X_test_comp)
data = {'PassengerId': X_test_comp[:,0], 'Survived': y_pred_comp}
df_predict = pd.DataFrame(data)
df_predict['PassengerId'] = df_predict['PassengerId'].astype('int32')
df_predict.to_csv('predictions.csv', index=False, float_format='%.0f')